<div class='index-main'>
  <div class= "index-image" >
  </div>
  <div class='post-contents'>
    <% if user_signed_in? %>
      <%# ログインしているときは以下を表示する %>
      <div class="greeting"> 
        こんにちは、
        <%= link_to current_user.name + "さん", class: :greeting__link%>
        <%# <%= link_to current_user.name + "さん", user_path(current_user.id), class: :greeting__link%> 
      </div> 
    <% end %>
    <div class="main-contents">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "memos/memo", collection: @memo,locals: {memo: @memo} %>
    </div>
  </div>
</main>