/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #999999;
  padding: 20px 0;

}
.inner {
  /* width: 1024px; */
  width: 100vw;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  padding: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
/* @media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
} */

 /* スマホ表示 */
/* @media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
} */

/* 投稿画面 */

.form_main {
  padding: 15px 0px;
}

.form_top {
  margin: 0 15px;
}

.form_title {
  display: block;
  width: 97vw;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
}

.form_tag {
  display: block;
  width: 97vw;
  height: 44px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  
}

.maintext_area {
  display: flex;
  margin: 20px 15px;

}

.main_text {
  width: 48vw;
  height: 70vh;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  padding: 30px;
}

.main_text_preview {
  width: 48vw;
  height: 70vh;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  padding: 30px;
}

.maintext_left {
  padding-right: 1vw;

}

.form_text {

}

.maintext_right {

}

.form_submit{
  margin: 20px 15px;
  width: 300px;
}    

.submit_btn{
  display: inline-block;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.memo_image {
  padding-bottom: 15px;
}

.image_form {
  margin-bottom: 15px;
}

/******************************************** 
  一覧画面
*********************************************/
.index-main {
  height: 100%;
  background-color: #F2F2F3;
  background-image: url('paper_00024.png');
  background-size:auto;
  
}

.post-contents {
  width: 700px;
  margin: 0 auto;
}

.main-contents {
  width: 700px;
  margin: 0 auto;
}

.index-image{
}

.post-content {
  display: flex;
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
}

.comment {
  width: 70px;
  height: 100%;
  background-color: #1C3667;
  color: #FFFFFF;
  border-radius: 5px 0 0 5px;
}

.comment__num {
  width: 70px;
  height: 38px;
  margin: 20px auto 0;
  line-height: 38px;
  font-size: 26px;
  text-align: center;
}

.comment__unit {
  width: 70px;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
  text-align: center;
}

.question {
  width: 630px;
  height: 100%;
  padding: 10px 15px;
  background-color: #FFFFFF;
}

.question-top {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-between;
}

.question-top__title {
  width: 500px;
  font-size: 14px;
}

.question-top__name {
  font-size: 12px;
  text-align: right;
}

.question-middle {
  width: 100%;
  height: 50%;
}

.question-middle__content {
  font-size: 12px;
}

.question-bottom {
  font-size: 12px;
}


/******************************************** 
  回答投稿（詳細）画面
*********************************************/

.show-main {
  padding: 70px 0;
  background-color: #F2F2F3;
}

.show-contents {
  width: 700px;
  margin: 0 auto;
  padding: 70px 60px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.show-question__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

.show-question__content {
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
}

.show-question__name {
  margin-bottom: 30px;
  width: 100%;
  font-size: 12px;
  text-align: right;
}

.show-answer-form {
  padding: 20px 15px 20px 15px;
  margin-bottom: 50px;
  border-radius: 3px;
  border: 1px solid #3A3736;
}

.show-answer-form__heading {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.show-answer-form__content {
  width: 100%;
  margin-bottom: 12px;
}

.show-answer-form__content textarea {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #A0A0A0;
}


.show-answer-form__submit {
  width: 100%;
  height: 36px;
}

.show-answer-form__submit input[type='submit'] {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #1C3667;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
}

.answers-heading {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 600;
}

.answer-content__text {
  font-size: 14px;
}

.answer-content__name {
  margin-bottom: 30px;
  font-size: 12px;
  text-align: right;
}

/* ///フラッシュメッセージ/// */
.flash-message {
  text-align: center;
  background-color: blue;
  color: white;
}

/* ///////////// */
/* @font-face {
  font-family: Chunkfive; src: url('Chunkfive.otf');
}

body, .usertext {
  color: #F0F0F0; background: #600;
  font-family: Chunkfive, sans;
  --heading-1: 30px/32px Helvetica, sans-serif;
}

@import url(print.css);
@media print {
  a[href^=http]::after {
    content: attr(href)
  }
} */

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}
/* end baseline CSS */

.hljs {
  background: #F3F3F3;
  color: #444;
}

/* Base color: saturation 0; */

.hljs-subst {
  /* default */
}

/* purposely ignored */
.hljs-formula,
.hljs-attr,
.hljs-property,
.hljs-params {}

.hljs-comment {
  color: #697070;
}
.hljs-tag,
.hljs-punctuation {
  color: #444a;
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: #444;
}


.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,

.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: #ab5656;
}

/* Language color: hue: 90; */

.hljs-literal {
  color: #695;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta .hljs-string {
  color: #38a;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}


/*//////////////ハイライトjsの設定/////////////// */

.pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}
/* end baseline CSS */

.hljs {
  background: #ffefe0;
  color: #444;
  border-radius: 4px;
}

/* Base color: saturation 0; */

.hljs-subst {
  /* default */
}

/* purposely ignored */
.hljs-formula,
.hljs-attr,
.hljs-property,
.hljs-params {}

.hljs-comment {
  color: #697070;
}
.hljs-tag,
.hljs-punctuation {
  color: #444a;
}

.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: #444;
}


.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,

.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000;
}

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-selector-pseudo {
  color: #ab5656;
}

/* Language color: hue: 90; */

.hljs-literal {
  color: #695;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta .hljs-string {
  color: #38a;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}