<div class='index-main'>
  <div class= "index-image" >
  </div>
  <div class='post-contents'>
    <% if user_signed_in? %>
      <%# ログインしているときは以下を表示する %>
      <div class="greeting"> 
        <a><%= "ようこそ、#{current_user.name}さん！"%></a>
      </div>
    <% else %>
       <%# ログインしているときは以下を表示する %>
      <div class="greeting"> 
        <a><%= "ようこそ、ゲストさん！　　ログインしてね！　　それとも新規で登録する？" %></a>
      </div>
    <% end %>
    <div class="main-contents">
      <%= render partial: "memo", collection: @memo.first(5),locals: {memo: @memo} %>
    </div>
  </div>
</div>