<div class='index-main'>
  <div class= "index-image" >
  </div>
  <div class='post-contents'>
    <% if user_signed_in? %>
      <%# ログインしているときは以下を表示する %>
      <div class="greeting"> 
        <a><%= "ようこそ、#{current_user.name}さん！"%></a>
        <%# <%= link_to current_user.name + "さん", user_path(current_user.id), class: :greeting__link%> 
      </div>
    <% end %>
    <div class="main-contents">
      <%= render partial: "memo", collection: @memo.first(5),locals: {memo: @memo} %>
    </div>
  </div>
</div>